{% extends 'base.html.twig' %}

{% block title %}Envoiye Image{% endblock %}

{% block body %}
    <h1>Envoiye Image</h1>


    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn">Envoiye</button>
 {{ form_end(form) }}

 

{% endblock %}